@import "colors.scss";

$accent: $blue;

* {
  all: unset;
}

window {
  background: black;
  color: $text;
  font-family: Baloo;
}

#bar {
  background: $crust;
}

@import "widgets/workspaces.scss";
