@import "colors.scss";

$accent: $blue;

* {
  all: unset;
}

window {
  background: black;
  color: $text;
  font-family: Baloo;
}

tooltip {
  background: $crust;
  color: $text;
  border: 1px solid $surface2;
  border-radius: 5px;
}

@import "windows/bar.scss";
@import "windows/bar_secondary.scss";

@import "widgets/workspaces.scss";
@import "widgets/bartime.scss";
