.bar-weather {
  padding-right: .5rem;

  &:hover {
    background: $base;
    border-radius: 5px;
  }
}

.bar-weather-icon {
  font-size: 3rem;
}

.bar-weather .icon {
  @include material-symbols;
  font-size: 1rem;
}

.bar-weather .name {
  margin-bottom: -.5rem;
}

.hot {
  color: $red;
}
.warm {
  color: $yellow;
}
.cold {
  color: $sapphire;
}
.freezing {
  color: darken($sapphire, 10%);
}

.wind {
  color: $green;
}

.humidity {
  color: $blue;
}

.pressure {
  color: $mauve;
}

.clouds {
  color: $lavender;
}
