.bartime-clock {
  font-size: 1.4rem;
  font-family: Baloo;
  margin-bottom: -.7rem;
}

.bartime-date {
  font-size: 1.1rem;
  font-family: Baloo;
  color: $subtext1;
}

.monday { color: $red; }
.tuesday { color: $peach; }
.wednesday { color: $yellow; }
.thursday { color: $green; }
.friday { color: $blue; }
.saturday { color: $pink; }
.sunday { color: $mauve; }

.winter { color: $sapphire; }
.spring { color: $green; }
.summer { color: darken($yellow, 20%); }
.autumn { color: $peach; }
