.player-summary .player-trackinfo-title {
  font-size: 1.1rem;
  padding-left: .5rem;
}

.player-summary .player-trackinfo-artists {
  @extend .player-trackinfo-title;
  color: $subtext1;
}

.player-trackalbum {
  min-height: 2.4rem;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.player-summary .paused-icon {
  @include material-symbols;
  font-size: 1.5rem;

  background: rgba(black, 0.8);
  border-radius: 5px;

  & .icon {
    margin: -.2rem 0rem;
  }
}

.player-summary {
  padding-left: .2rem;
  padding-right: .2rem;

}
button.player-summary {
  margin-right: 2rem;
}

.player-summary:hover {
  background: $base;
  border-radius: 5px;
}
