.poweroption {
  @include material-symbols;
  font-size: 2.2rem;

  padding: 0rem .3rem;

  &:hover {
    background: $surface0;
    border-radius: 8px;
  }
}

.sleep {
  color: $mauve;
}

.logout {
  color: $blue;
}

.reboot {
  color: $yellow;
}

.poweroff {
  color: $red;
}
