.workspaces {
  padding: .5rem 0rem;
}

.workspace {
  font-family: Baloo;
  font-size: 1rem;
  color: $subtext0;

  min-width: 2.2rem;
  min-height: 2.2rem;
}

.workspace-occupied {
  color: $text;
  background: $base;
}

.workspace-active {
  background-color: $blue;
  border-color: $mauve;
  color: $crust;
}

.workspace-active-second {
  background-color: $green;
  border-color: $peach;
  color: $crust;
}

.bar-secondary-workspaces {
  background: $crust;
  border-radius: 15px;
}
