#bar {
  background: $crust;
  font-family: Baloo;
}

.bar-archicon {
  font-size: 2.3rem;

  padding: 0 .3rem;

  &:hover {
    background: $base;
  }
}

.bar-shutdown {
  font-family: JetBrainsMono;
  font-size: 1.2rem;
  color: $red;
  padding-right: 1rem;
}

.separator {
  color: $overlay0;
  font-family: sans;
  padding: 0 .5rem;
  margin-top: -.3rem;
}

.bar-misc-buttons {
  @include material-symbols;
  font-size: 1.5rem;

  button, box {
    border-radius: 5px;
  }

  label {
    margin: -.2rem 0;
  }

  button:hover {
    background: rgba($surface2, 0.4);
  }

  .updates {
    color: $crust;
    background: $yellow;
    label {
      margin: -.25rem 0;
    }
  }

  .network {
    @include nerd-icons;
    label {
      min-width: 1.5rem;
    }
    label.disconnected {
      margin-left: -.3rem;
      padding: 0 .2rem;
    }
  }
}

#bar .bartime {
  margin-left: .8rem;
}
