#bar {
  background: $crust;
  font-family: Baloo;
}

.bar-archicon {
  font-size: 2.3rem;

  padding: 0rem .3rem;

  &:hover {
    background: $base;
  }
}

.bar-shutdown {
  font-family: JetBrainsMono;
  font-size: 1.2rem;
  color: $red;
  padding-right: 1rem;
}
