#player {
  // backup background in case album image is missing
  background: $base;
  border-radius: 20px;
}

.playerwin-layout {
  padding: 1rem;

  // image background;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 100%;

  // dim background
  background-blend-mode: darken;
  background-color: rgba(#000, 0.4);

  // border
  border: 1px solid $surface1;
  border-radius: 20px;

  // dimensions
  min-width: 50rem;
  min-height: 20rem;
}

.playerwin-trackinfo .player-trackinfo-title {
  font-size: 3rem;
  @include textshadow;
}

.playerwin-trackinfo .player-trackinfo-artists {
  font-size: 2rem;
  @include textshadow;
}

.playerwin-volume value {
  font-size: 0rem;
}

.playerwin-volume trough {
  min-width: .6rem;
  min-height: 10rem;
  background: $base;

  border: 3px solid $base;
  border-radius: 8px;
}

.playerwin-volume highlight {
  background: $green;
  border-radius: 8px;
}

.playerwin-volume slider {
  all: unset;
}

.playerwin-volume {
  padding: .3rem;
  padding-left: 1rem;
}

.playerwin-misc-controls {
  @include nerd-icons;
  @include textshadow;

  margin-bottom: -.5rem;

  & .player-shuffle-on {
    color: $green;
  }

  & .player-loop-on {
    color: $green;
  }

  & .shuffle .icon {
    font-size: 2.5rem;
    margin-left: -.8rem;
  }

  & .loop .icon {
    font-size: 3rem;
    margin-left: -.7rem;
  }

  & button {
    min-width: 3rem;
  }

  & button:hover {
    background: rgba($crust, 0.6);
    border-radius: 10px;
  }
}

.playerwin-main-controls {
  @include material-symbols;
  @include textshadow;

  font-size: 3rem;

  & button:hover {
    background: rgba($crust, 0.6);
    border-radius: 10px;
  }
}

.playerwin-shift {
  @include textshadow;
  font-size: 3rem;

  &:hover {
    background: rgba($crust, 0.6);
    border-radius: 10px;
  }
}
