.volpop-layout {
  background: $base;
  border: 1px solid $surface1;
  border-radius: 20px;
  
  padding: 1rem;
  padding-top: 0rem;
}

.volpop-output-icon {
  font-size: 2.5rem;
}

.volpop-volume-label {
  padding-left: .3rem;
  padding-right: .3rem;

  min-width: 6.7rem;
}

.volpop-volume-slider value {
  font-size: 0rem;
}

.volpop-volume-slider highlight {
  background: linear-gradient(to right, $sapphire 0rem, $blue 5rem);
  border-radius: 20px;
}

.volpop-volume-slider trough {
  min-width: 5rem;
  min-height: 1rem;

  background: $mantle;
  border-radius: 20px;
}

.volpop-volume-slider slider {
  all: unset;
}
