.weather-layout {
  background: $base;

  border: 1px solid $surface1;
  border-radius: 20px;
}

.current-weather {
  margin: 1rem;
  min-width: 25rem;
}

.cw-main {
  font-size: 1.5rem;
}

.cw-city {
  font-size: 2rem;
  padding-bottom: 1.8rem;
}

.cw-time {
  font-size: 1.2rem;
  margin-top: -2rem;
  padding-bottom: .5rem;
}

.cw-date {
  @extend .cw-time;
  color: $subtext1;
}

.cw-timezone {
  background: $mantle;
  padding: .5rem;
  border-radius: 10px;

  min-width: 10rem;
  margin-top: .5rem;

  & .timezone {
    color: $pink;
  }
}

.cw-info {
  min-width: 10rem;
  background: $mantle;
  padding: .5rem;
  border-radius: 10px;
}

.cw-info-label {
  color: $subtext1;
}

.cw-direction {
  min-width: 4.5rem;
  min-height: .2rem;
  font-size: .8rem;
  font-family: Barlow;
  color: $green;
  border-color: $surface0;
  background: $lavender;
}

.cw-wind {
  color: $green;
  background: $mantle;

  padding: .5rem;
  border-radius: 10px;

  .label {
    margin-top: .3rem;
  }
  .icon {
    @include material-symbols;
  }
}

.cw-sunset {
  color: $flamingo;
  min-width: 6.5rem;
  background: $mantle;
  border-radius: 10px;
  padding: .5rem;

  margin-top: .5rem;
}

.weather-forecast {
  padding: {
    left: .5rem;
    right: 1rem;
  }
  border-left: 1px solid $surface0;
}

.weather-button {
  background: $mantle;
  margin: 0 .5rem;
  margin-top: .5rem;
  border-radius: 10px;

  padding: .5rem;

  .icon {
    font-size: 4rem;
    margin: -.5rem;
  }

  &:hover {
    background: $surface0;
  }
}
