@use "colors.scss" as *;
@use "mixins.scss";
@use "sass:color";

.bar {
    font-family: Cabin, Noto Sans Emoji;
    background: color.adjust($crust, $lightness: -1%);
}

.bar-contents {
    padding: .4rem;
    padding-left: .3rem;
}

.workspaces {
    color: $text;
    font-family: Baloo;
    border-radius: 1rem;
    padding: .7rem .3rem;
}

.workspace {
    color: $subtext;
    min-width: 2rem;
    margin-top: 1px;
}

.workspace-occupied {
    color: $text;
    background: $base;
}

// gradient: background -> border-color
.workspace-active {
    color: $crust;
    background: $blue;
    border-color: $mauve;
    padding: .18rem;
}

.startmenu-button {
    @extend .hover;
}

.bar-clock {
    font-weight: bold;
}

.bar-player-summary {
    .album {
        border-radius: .3rem;
    }
    .pause-icon {
        background: rgba(black, 0.8);
        border-radius: .4rem;
    }
    .artist {
        color: $subtext;
    }
}

.bar-shutdown {
  font-family: monospace;
  color: $red;
}

.bar-active-window {
    font-style: italic;
    color: $subtext1;
}

.bar-systray {
    @extend .groove;
}

.bar-network {
    color: $text;
    font-size: 1.4rem;
}
