.border {
    border: 1px solid $border;
}

.hover {
    &:hover {
        background: $selection;
    }
}

.groove {
    background: $mantle;
    border-radius: 2rem;
    padding: .5rem;
}

@mixin min-size($w, $h: $w) {
    min-width: $w;
    min-height: $h;
}
