@use "colors.scss" as *;
@use "mixins.scss";

.volpop {
    background: $base;

    padding: .5rem;

    border: 3px solid;
    border-radius: .5rem;
}

.volpop-slider {
    trough {
        border-radius: .5rem;
        background: $mantle;
    }
    highlight {
        @extend trough;
        @include mixins.gyr-gradient-background(to right, 8.7rem);
    }
}
